body {
    width: 65%;
    margin: auto;
    background-color: black;
    font-family: 'Space Grotesk', sans-serif;
}

#accordion {
    display: flex;
}

#location {
    color: white;
    padding-top: 48px;
    width: 60%;
}

.text-div {
    font-size: 40px;
    font-weight: 500;
    line-height: 64px;
    padding-left: 16px;
    width: 50%;
    transition: background-color 0.3s ease-in-out, border-radius 0.1s ease-in-out;
}

.text-div:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.2);
    border-radius: 16px;
}

.active {
    color: white !important;
}

.non-active {
    color: rgba(255, 255, 255, 0.2);
}

#next {
    /* margin-left: 48px; */
    padding-left: 32px;
    width: 40%;
    vh: 100%;
    background: rgba(255, 255, 255, 0.15); 
}

#next p {
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 64px;
    padding-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

#next p:first-child {
    margin-top: 48px;
}

#images {
    padding-left: 16px;
    padding-top: 48px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 10vw);
    grid-gap: 0px;
}

#images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

#images img:hover {
    transform: scale(1.1);
}